table {
  border: 5px solid #606566;
  border-collapse: collapse;
  width: 99vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

thead {
  height: 2em;
  border: 2px solid #d4d4d4;
  border-collapse: collapse;
  padding: 0px;
  width: auto;

}

.selectCell {
  height: 4em;
}
.tableCellChild {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 90%;
  border: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 5px;
}


.textAreaCell {
  height:10em;
}
.tableHeaderCellChild {
  font-size: 20px;
  height: 2em;
}

.tableCell {

  width: 1000px;
  height: 10em;
}
