#title {
    text-align: center;
    margin-bottom: 1vh;

}

#timeEdited {
    margin-bottom: 1vh;
    text-align: center;
}

#titleInput {

    text-align: center;
    font-size: 3vw;
}

.projectButton {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.projectSelectionButton {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.deleteProjectButton {
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.newProjectButton {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: cornflowerblue;
}

.propertyButton {
    margin: 0 auto;

    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#propertySelectorTable {
    width: 99vw;
    margin-left: auto;
    margin-right: auto;

}

#propertyTable {
    width: 99vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th,
tr {
    padding: 0px;
    width: auto;
}




.tableinput {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 20px;
    width: 90%;
    height: 3em;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tabletextarea {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 20px;
    width: 90%;
    height: 3em;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.multipleChoices {
    width: 500px;
}

#projectDiv {
    width: max-content;
    border-radius: 25px;
    background-color: #bce4ee;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 40px;

    height: max-content;
}