#title {
    text-align: center;
    margin-bottom: 1vh;

}

#timeEdited {
    margin-bottom: 1vh;
    text-align: center;
}

#titleInput {

    text-align: center;
    font-size: 3vw;
}

#projectName {
  font-size: 30px;
}

.AdminPanel {
    left: 1%;
    top: 1%;
    position: absolute;
    display: inline-block;
}

.projectButton {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.projectSelectionButton {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.deleteProjectButton {
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

img {
  margin-top:5px;
  height: 7.5em; 
  width: auto;
  object-fit: contain
}

.newProjectButton {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #52B2CF;
}

.propertyButton {
    margin: 0 auto;

    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#propertySelectorTable {
    width: 99vw;
    margin-left: auto;
    margin-right: auto;

}

#propertyTable {
    width: 99vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#projectDiv {
    width: max-content;
    border-radius: 25px;
    background-color: #9CADCE;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 40px;

    height: max-content;
}

.userAuthentication {
	right: 1%;
	top: 1%;
	position: absolute;
  display: inline-block;
}

#username {
    margin: 0px;
  display: inline-block;
}

#logoutButton {
  display: inline-block;
}

button {

    background-color: #7EC4CF;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

button:hover {
    background-color: #D4AFB9;
}

body {
    background-color: #D1CFE2;
}

textarea {
    padding: 10px;
    border-radius: 10px;
}

textarea:read-only {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffebeb;
}

input {
    padding: 10px;
    border-radius: 10px;
}